@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding : 0;
}

body{
    font-family: Roboto, sans-serif;
}

.grid{
    display: grid;
    gap : 15px;
    grid-template-columns: 250px 500px;
}

/* SIDEBAR */

.sidebar{
    grid-column: 1/4;
    border : none;
    height : 100vh;
    background-color : #00a6f4;
    color : white; 
}

.logo{
    display : flex;
    flex-direction: row;
    align-items : center;
    justify-content: space-around;
    margin: 20px 20px 20px 40px;
    

}

.left{
    background-color: #00a6f4;
}

.logo h1{
    font-size: 30px;
    margin-left: 10px;
}

.ul-sidebar{
    list-style: none;
    margin: 50px 0 0 0;
}

.li-sidebar{
   font-size: 18px;
   margin : 10px;

}

.bottom-li{
    margin-top: 70px;
    
}



/* HEADER */
.header{
    background-color: white;
    height: 12vh;
    
}

.search-area, .welcoming-area{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding : 10px 0;
}

.search-area-left, .search-area-right, .welcoming-area-left, .welcoming-area-right{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-area-right h2{
    font-size: 13px;
}

.search-area-left{
    width : 80%;
    margin-left: 10px;
}

.search-area-right{
    justify-content: space-around;
    width : 20%;
    margin-right : 10px;
}
.form-input{
    max-width : 100%;
    width : 300px;
    border : 1px solid #dfe9f7;
    border-radius: 10px;
    color:white;
    background-color: #dfe9f7;
}

.welcoming-area-left h4{
    font-size: 10px;
}

.welcoming-area-right h3{
    font-size: 16px;
}

.btn{
    background-color: #00a6f4;
    color : white;
    border : 1px solid #00a6f4;
    border-radius: 10px;
    width : 80px;
}

.welcoming-area, .welcoming-area-right{
    justify-content: space-between;
}

.welcoming-area-right{
    width : 40%;
}

.welcoming-area-left{
    justify-content: center;
    width : 60%;
}

/* MAIN */
.main{
    background-color: #dfe9f7;
    border : 1px solid green;
    height: 70vh;
}

